body {
	min-width: 1200px;
	margin: 0;
	padding: 0;

	font-family: "Roboto", "Arial", sans-serif;
	font-size: 16px;
	line-height: 24px;
	font-weight: 400;
	color: #283136;
	text-transform: uppercase;

	background-color: #ffffff;
}

/*  * {
	outline: 1px solid blue;
} */

a {
	text-decoration: none;
}

img {
	max-width: 100%;
	height: auto;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
	position: absolute;

	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;

	white-space: nowrap;

	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}

.container {
	width: 1160px;
	margin: 0 auto;
	padding: 0 20px;
}

.container-gray {
	background-color: #eeeeee;
}


/* HEADER */
/* navigation */

.active {
	position: relative;
}

.active::after {
	position: absolute;
	content: "";
	bottom: 10px;
	left: 22px;
	width: calc(100% - 46px);
	height: 2px;
	background-color: #fb565a;
}

.main-navigation a, 
.user-account a {
	font-size: 16px;
	line-height: 30px;
	font-weight: 500;
	color: #000000;	
}

.main-navigation a {
	letter-spacing: 0.02em;
}

.main-navigation a:hover,
.main-navigation a:focus,
.user-account a:hover,
.user-account a:focus {
	color: #fb565a;
}

.main-navigation a:active,
.user-account a:active {
	color: rgba(0,0,0,0.3);
}


/* logo */
.main-header-logo:hover,
.main-header-logo:focus {
	opacity: 0.8;
}

.main-header-logo:active {
	opacity: 0.3;
}


/* SLIDER */

.intro-main-text {
	font-size: 55px;
	line-height: 55px;
	font-weight: 500;
	color: #000000;
	text-transform: none;
}

.slide-text-descr {
	text-transform: none;
	margin: 0;
	padding-top: 15px;
}


/* CATALOG */
.catalog-services-list {
	list-style: none;
}


.catalog-services-the-title { 
	font-size: 24px;
	line-height: 30px;
	font-weight: 700;
	color: #000000;
}

.catalog-services-text {
	text-transform: none;
}


/* DESCRIPTION */
.description-lid {
	letter-spacing: 0.004em;
	font-size: 45px;
	line-height: 45px;
	font-weight: 500;
	color: #000000;	
	text-transform: none;
}

.description-text,
.description-item {
	text-transform: none;
}

.description-we-can-do {
	font-weight: 700;
	color: #000000;	
}

/* NUMBERS */
.numbers-title {
	font-weight: 700;
	color: #000000;
}

.numbers-td {
	font-size: 45px;
	line-height: 10px;
	font-weight: 700;
	color: #000000;
	font-weight: 700;
}

.numbers-th {
	font-weight: 400;
	text-transform: none;
	font-size: 16px;
	line-height: 18px;
	font-weight: 400;
}


/* PROJECT LINKS */
.project-links-item {
	list-style: none;
	margin: 0;
	padding: 0;
}

.projects-link {
	opacity: 0.2;
}

.projects-link:hover {
	opacity: 1;
}

.projects-link:active {
	opacity: 0.1;
}


/* MAP DESCRIPTION */
.map-title {
	font-size: 18px;
	line-height: 30px;
	font-weight: 700;
	color: #000000;
}

.map-address,
.map-phone {
	line-height: 18px;
	color: #666666;
	text-transform: none;
}


/* FOOTER */
.main-footer {
	text-transform: none;
}

.social-list {
	margin: 0;
	padding: 0;
	list-style: none;
}


.main-footer-slogan {
	font-size: 36px;
	line-height: 36px;
	font-weight: 700;
	color: #000000;
}

.main-footer-text {
	line-height: 22px;
	color: #444444;
}


/* MODAL: WRITE US */
.modal-title {
	font-size: 45px;
	line-height: 45px;
	font-weight: 500;
	color: #000000;
}

.login-form-label {
	line-height: 18px;
	font-weight: 700;
	color: #000000;
	text-transform: none;
}

.login-form input,
.login-form textarea {
	font: inherit;
	font-weight: 400;
	border: 2px solid #d7dcde;
	outline: none;
}

.login-form-field:hover {
	border: 2px solid #b4b9bb;
}

.login-form-field:focus {
	border: 2px solid #000000;
}

.login-form-field:invalid {
	border: 2px solid #e74246;
}

.login-form-field::-webkit-input-placeholder {
	line-height: 18px;
	color: rgba(68,68,68,0.5);
}

.login-form-field:focus::-webkit-input-placeholder {
	color: #444444;
}


/* INNER PAGE: CATALOG */
.main-title-sect {
	background-color: #eeeeee;
}

.main-title {
	font-size: 55px; 
	line-height: 55px;
	font-weight: 500; 
	color: #000000;
	text-transform: none;
}

/* filters */
.filter-fieldset {
	border: none;
	margin: 0;
	padding: 0;
}

.filter-ul {
	list-style: none;
	text-transform: none;
	padding: 0;
	margin: 0;
}

.filter-legend {
	font-size: 18px;
	line-height: 30px;
	font-weight: 700;
	color: #000000;
}

.filter-label {
	line-height: 20px;
}

.filter-label:hover {
	color: #000000;
}

.filter-label:disabled {
	color: rgba(40,49,54,0.3);
}

/* sort */
.sort-title {
	font-size: 18px;
	line-height: 18px;
	font-weight: 700;
	color: #000000;
}

.sort-list {
	margin: 0;
	padding: 0;
	list-style: none;
}

.sort-list-direction {
	margin: 0;
	padding: 0;
	list-style: none;
}


.sort-item a {
	font-size: 14px;
	line-height: 18px;
	color: rgba(0,0,0,0.3);
}

.sort-item a:hover,
.sort-item a:focus {
	color: rgba(0,0,0,0.6);
}

.sort-item a:active {
	color: #000000;
}

.sort-item a.sort-current {
	color: #000000;
}


/* catalog list */
.catalog {
	background-color: #ffffff;
}

.hover-catalog-item-info {
	background-color: #eeeeee;
}

.catalog-list {
	list-style: none;
}

.catalog-item-title {
	font-size: 18px;
	line-height: 30px;
	font-weight: 700;
	color: #000000;
	text-align: center;
}

.catalog-item-text {
	line-height: 18px;
	color: #666666;
	text-align: center;
	text-transform: none;
}

/* pagination list */
.pagination-list {
	margin: 0;
	padding: 0;
	list-style: none;
}

.pagination-item-link {
	line-height: 18px;
	font-weight: 500;	
	color: #000000;
}

/* BUTTONS */
.btn {
	display: inline-block;
	font: inherit;
	font-size: 16px;
	line-height: 18px;
	font-weight: 500;
	color: #ffffff;
	border-radius: 3px;
	text-transform: uppercase;
	cursor: pointer;
}

.filter-btn {
	color: #000000;
}

.btn-red {
	background-color: #fb565a;
}

.btn-red:hover {
	background-color: #e74246;
}

.btn-red:active {
	background-color: #d7373b;
	color: rgba(255,255,255,0.3);
	box-shadow: inset 0 10px 2px -7px #c13135;
}

.btn-green {
	background-color: #00ca74;
}

.btn-green:hover {
	background-color: #00bc6c;
}

.btn-green:active {
	background-color: #00aa62;
	color: rgba(255,255,255,0.3);
	box-shadow: inset 0 10px 2px -7px #009958;
}


.btn-yellow {
	background-color: #efc84a;
}

.btn-yellow:hover {
	background-color: #eab534;
}

.btn-yellow:active {
	background-color: #e5a722;
	color: rgba(255,255,255,0.3);
	box-shadow: inset 0 10px 2px -7px #ce961f;
}

.btn-grey {
	background-color: #eeeeee;
}

.btn-grey:hover {
	background-color: #dfdfdf;
}

.btn-grey:active {
	background-color: #d5d5d5;
	color: rgba(0,0,0,0.3);
}

/* --- Сеточные стили index.html--- */

/* разметка - шапка */

.main-header {
	padding-top: 50px;
}

.main-navigation {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: flex-start;
}

.main-logo {
	display: block;
	width: 160px;
	height: 65px;
}

.site-navigation,
.user-account {
	margin: 0;
	padding: 0;
	list-style: none;
}

.site-navigation {
	padding-left: 180px;
	display: flex;

	flex-wrap: wrap;
}

.site-navigation a {
	display: block;
	padding-top: 26px;
	padding-bottom: 15px;
	padding-left: 22px;
	padding-right: 22px;
}

.user-account {
	display: flex;
	flex-wrap: wrap;
	margin-left: auto;
	text-align: right;
	max-width: 150px;
}

.user-account a {
	display: block;
	padding-top: 26px;
	padding-bottom: 15px;
	vertical-align: middle;
}

.cart-link {
	position: relative;
	padding-left: 50px;
}

.cart-link::before {
	content: "";
	position: absolute;
	top: 33px;
	left: 10px;
	width: 15px;
	height: 15px;
	background-image: url("../img/cart-icon.svg");
	background-repeat: no-repeat;
	background-position: 0 0;
}



/* разметка - интро */

.slider {
	position: relative;
	width: 1160px;
	height: 310px;
	margin: 0 auto;
	padding-bottom: 115px;
}

.intro-main-text {
	padding-bottom: 10px;
}

.slider input[type=radio] {
	position: absolute;
	opacity: 0;
}
.slider-controls {
	font-size: 0;
	position: absolute;
	bottom: 96px;
	left: 50%;
	width: 200px;
	height: 18px;
	margin-left: -100px;
	text-align: center;
	z-index: 1000;
}

.slider-controls-label {
	display: inline-block;
	width: 8px;
	height: 8px;
	margin: 0 9px;
	background: white;
	border: 5px solid white;
	vertical-align: top;
	border-radius: 50%;
	cursor: pointer;
	position: relative;
}


#btn-1:checked ~ .slider-controls label[for="btn-1"],
#btn-2:checked ~ .slider-controls label[for="btn-2"],
#btn-3:checked ~ .slider-controls label[for="btn-3"] { 
	background: #c1c1c1;
}


.slider-controls-label:after {
	position: absolute;
	display: inline-block;
	width: 4px;
	height: 4px;
	border-radius:50%;
	content: ""; 
	top: 2px;
	left: 2px;
	background-color: white; 
}

.slide {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
}
.slide-text {
	width: 520px;
	padding: 71px 0;
	color: #283136;
	}

.slide .btn {
	display: block;
	width: 240px;
	padding: 16px 0;
	margin-top: 40px;
	text-align: center;
	border-radius: 3px;
}
.slide:nth-child(1) {
	background-image: url("../img/intro-slide1.png");
	background-repeat: no-repeat;
	background-position: 93% 11px;
}
.slide:nth-child(2) {
	background-image: url("../img/intro-slide2.png");
	background-repeat: no-repeat;
	background-position: 100% 0px;
}
.slide:nth-child(3) {
	background-image: url("../img/intro-slide3.png");
	background-repeat: no-repeat;
	background-position: 100% 14px;
}
.slide {
	display: none;
}
#btn-1:checked ~ .slides .slide:nth-child(1) { 
	display: block;
}
#btn-2:checked ~ .slides .slide:nth-child(2) { 
	display: block; 
}
#btn-3:checked ~ .slides .slide:nth-child(3) { 
	display: block;
}


/* сервисы */

.catalog-services-list {
	width: 1100px; 
	margin: 0;
	padding: 0;
	margin-top: 80px;
	list-style: none;
	display: flex;
	justify-content: space-between;
	padding-bottom: 80px;

}

.catalog-services-list-item {
	width: 300px;
}

.serv-red {
	background-image: url("../img/catalog-image1.png");
	background-repeat: no-repeat;
	background-position: left top;
}
.serv-green {
	background-image: url("../img/catalog-image2.png");
	background-repeat: no-repeat;
	background-position: left top;
}
.serv-yellow {
	background-image: url("../img/catalog-image3.png");
	background-repeat: no-repeat;
	background-position: left top;
}

.catalog-services-the-title {
	margin: 0;
	margin-top: 170px;
	padding: 0;
}

.catalog-services-text {
	max-width: 260px;
	margin-bottom: 33px;
}

.catalog-services-list-item .btn {
	padding: 16px 40px;
}

/* разметка - descr */

.descr {
	padding-top: 39px;
	display: flex;
	justify-content: space-between;
	border-top: 2px solid #eeeeee;
	padding-bottom: 74px;
	border-bottom: 2px solid #eeeeee;	
}

.description {
	padding-top: 35px;
	width: 700px;
}

.description-text {
	padding-top: 16px;
	padding-bottom: 22px;
	max-width: 660px;
}

.description-list {
	margin: 0;
	padding: 0;
	list-style: none;
	margin-top: 23px;
	padding-left: 37px;
}

.description-item {
	position: relative;
	margin-bottom: 24px;
}

.description-item:last-child {
	margin-bottom: 0;
}

.description-item::before {
	position: absolute;
	width: 25px;
	height: 2px;
	top: 11px;
	left: -36px;
	content: "";
	background-color: #fb565a;
}

.small-img-logo {
	display: block;
}

.numbers {
	width: 360px;
}

.numbers-title {
	margin: 0;
	margin-top: 36px;
	margin-left: 17px;

}

.numbers-table {
	width: 100%;
	margin-top: 49px;
}

.numbers-td,
.numbers-th {
	width: 33.3%;
	padding: 0;

	text-align: left;

}

.numbers-th {
	padding-top: 27px;
}


.numbers-percentage {
	font-size: 28px;
	font-weight: 800;
	line-height: 10px;
}


/* разметка - projects */


.project-links-list {
	margin: 0;
	padding: 0;
	list-style: none;
	display: flex;
	justify-content: space-between;
	padding-top: 47px;
	padding-bottom: 44px;
	border-bottom: 2px solid #eeeeee;
	margin-bottom: 80px;
}

.project-links-item {
	display: flex;
	width: 262px;
	position: relative;

}

.projects-link {
	margin: auto;	
}

.projects-link-img {
	display: block;
}

.project-links-item::after {
	position: absolute;
	top: 18px;
	left: 279px;
	content: "";
	width: 2px;
	height: 52px; 

	background-color: #eeeeee;
}

.project-links-item:last-child::after {
	content: none;
}

.htmlacademy-img {
	margin-top: 16px;
	margin-bottom: 6px;
}

.mishka-img {
	margin-top: 6px;
}


/* разметка - карта */
.map {
	position: relative;
	min-height: 416px; 
	background-color: #eeeeee;
	background-image: url("../img/map-with-marker.png");
	background-repeat: no-repeat;
	background-position: top center;
	background-size: 120%;

}

.small-container {
	position: absolute;
	top: 54px;
	padding: 50px;
	background-color: #ffffff;
	z-index: 200;
}

.small-container .btn {
	margin-top: 36px;
	padding: 16px 45px;
}

.map-title {
	margin: 0;
}

.map-address,
.map-phone {
	margin: 0;
	margin-top: 19px;
}

/*разметка - футер */

.main-footer {
	padding: 70px 0;
	display: flex;
}

.main-footer-slogan {
	margin: 0;
}

.social-list {
	margin: 0;
	padding: 0;
	list-style: none;
	margin-right: 40px;
	display: flex;
}



.social-button {
	display: block;
	width: 79px;
	height: 79px;
	margin-right: 12px;
	border-radius: 50%;
	color: #000000; 
	background-color: #e1e1e1;
}

.vk {
	background-image: url("../img/vk-icon.svg");
	background-repeat: no-repeat;
	background-position: center center;
}

.fb {
	background-image: url("../img/fb-icon.svg");
	background-repeat: no-repeat;
	background-position: center center;
}

.instagram {
	background-image: url("../img/insta-icon.svg");
	background-repeat: no-repeat;
	background-position: center center;
}

.social-button:hover {
	background-color: #e74246;
}

.vk:active {
	background-color: #d7373b;
	background-image: url("../img/vk-icon-active.svg");
	background-repeat: no-repeat;
	background-position: center center;
}

.fb:active {
	background-color: #d7373b;
	background-image: url("../img/fb-icon-active.svg");
	background-repeat: no-repeat;
	background-position: center center;
}

.instagram:active {
	background-color: #d7373b;
	background-image: url("../img/insta-icon-active.svg");
	background-repeat: no-repeat;
	background-position: center center;
}

.footer-promo {
	margin-top: 4px;
	margin-left: 88px;
	width: 800px;
}

.main-footer-text {
	margin: 0;
	margin-top: 10px;
}


/* --- Сеточные стили catalog.html--- */
.main-title-sect {
	text-align: center;
}

.catalog-columns {
	display: flex;
	justify-content: space-between;
}

.filters {
	width: 300px;
}

.catalog {
	width: 760px;
}

.catalog-list {
	margin: 0;
	padding: 0;
	list-style: none;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.catalog-item {
	width: 360px;
}

.main-title {
	margin: 0;
	padding-top: 72px;
	padding-bottom: 110px;
}

/* отрисовка сложного фильтра */
.range-filter {
	width: 260px;
	margin-bottom: 56px;
	margin-top: 48px;
}

.range-controls {
	position: relative;
	height: 41px;
	padding-top: 39px;
	padding-right: 20px;
	padding-left: 20px;
	margin-bottom: 15px;
	border-radius: 5px;
	background: #f1f1f1;
}

.range-controls .scale {
	height: 2px;
	background: #d7dcde;
}

.range-controls .bar {
	width: 70%;
	height: 2px;
	background: #00ca74;
}

.range-controls .toggle {
	position: absolute;
	top: 30px;
	left: 0px;
	width: 4px;
	height: 4px;
	cursor: pointer;
	border: 8px solid #fff;
	border-radius: 50%;
	background: #ababab;
	box-shadow: 0 2px 1px 0 #cfcfcf;
}

.range-controls .toggle-min {
	left: 18px;
}

.range-controls .toggle-max {
	left: 160px;
}

.price-controls {
	font-size: 0;
}

.min-price,
.max-price {
	font-size: 16px;
	display: inline-block;
	width: 50%;
	}

.max-price {
	text-align: right;
}

.price-controls-input {
	font-family: "Roboto", "Arial", sans-serif;
	font-size: 16px;
	width: 60px;
	margin-left: 10px;
	padding: 8px 10px;
	text-align: center;
	color: #283136;
	border: none;
	border-radius: 5px;
	background: #f1f1f1;
}

.catalog-columns {
	margin-top: 53px;
}

.price-legend {
	letter-spacing: 0.04em;
}

/* разметка - фильтры */

.filtr-legend,
.grid-legend {
	margin: 0;
	margin-bottom: 4px;
	margin-left: 2px;
}


.grid-filter-list .filter-option:last-child {
	margin-bottom: 37px;
}

.filter-option-radio,
.filter-option-check {
	position: relative;
}

.filtr-opt-label {
	cursor: pointer;
	display: block;
	padding-bottom: 10px;
	padding-top: 10px;
	padding-left: 36px;
}

.filter-option input:disabled + label {
	opacity: 0.3;
	cursor: default;
}

.filter-option:hover input + label {
	color: #000000;
}

.filter-option-radio input + label::before {
	position: absolute;
	content: "";
	left: 1px;
	top: 9px;
	width: 25px;
	height: 25px;
	background-image: url("../img/radio-off.svg");
	background-position: 0 0;
	background-repeat: no-repeat;
	opacity: 0.4;
}

.filter-option-radio:hover input + label::before {
	opacity: 1;
}


.filter-option-radio input:focus + label {
	color: #000000;
}

.filter-option-radio input:checked + label::before {
	background-image: url("../img/radio-on.svg");
}

.filter-option-check input + label::before {
	position: absolute;
	content: "";
	left: 1px;
	top: 9px;
	width: 25px;
	height: 25px;
	background-image: url("../img/checkbox-off.svg");
	background-position: 0 0;
	background-repeat: no-repeat;
	opacity: 0.4;
}

.filter-option-check:hover input + label::before {
	opacity: 1;
}

.filter-option-check input:checked + label::before {
	background-image: url("../img/checkbox-on.svg");
}

.filters .btn {
	margin-top: 40px;
	padding: 16px 88px; 
	color: #000000;
	background-color: #eeeeee;
	box-shadow: none;
	border: none;
}

.filters .btn:hover {
	background-color: #dfdfdf;
}

.filters .btn:active {
	color: rgba(0, 0, 0, 0.3);
	background-color: #d5d5d5;
	box-shadow: inset 0 10px 2px -7px #bfbfbf;
}

/* разметка - SORT */

.sort {
	width: 760px;
	display: flex;
	flex-wrap: wrap;
	margin-bottom: 93px;
}

.sort-title {
	margin:0;
	padding: 0;
	margin-top: 2px;
}

.sort-list {
	display: flex;
	width: 272px;
	justify-content: space-between;
	margin-left: 266px;
	margin-right: 35px;
}


.sort-list-direction {
	display: flex;
	width: 40px;
	justify-content: space-between;
	margin-left: auto;
}

.tr-down,
.tr-up {
	cursor: pointer;
	position: relative;
	width: 10px;
}

.tr-up::after {
	content: "";
	position: absolute;
	left: 0px; 
	bottom: 1px; 
	border: 5px solid transparent;	
	border-top: 10px solid rgba(35, 31, 32, 1);
}

.tr-down::after {
	content: ""; 
	position: absolute;
	left: -1px; 
	bottom: 6px; 
	border: 5px solid transparent;	
	border-bottom: 10px solid rgba(166, 166, 166, 0.3);
}

.tr-up:hover::after {
	border-top: 10px solid rgba(166, 166, 166, 1);
}
.tr-down:hover::after {
	border-bottom: 10px solid rgba(166, 166, 166, 1);
}

.tr-up:focus::after, 
.tr-up:active::after {
	border-top: 10px solid rgba(35, 31, 32, 1);
}
.tr-down:focus::after, 
.tr-down:active::after {
	border-bottom: 10px solid rgba(35, 31, 32, 1);
}

/* разметка - элементы каталога */

.catalog-item:nth-last-child(1),
.catalog-item:nth-last-child(2) {
	margin-bottom: 0;
}

.catalog-item {
	margin-bottom: 73px;
}

.catalog-item {
	position: relative;
}

.catalog-item-img {
	display: block;
	position: relative;
}

.catalog-item::before {
	content: "";
	width: 360px;
	height: 40px;
	top: -39px;
	position: absolute;
	background-image: url(../img/browser.svg);
	background-repeat: no-repeat;
	background-position: 0 0;
	z-index: 200;
	opacity: 0.12;
}

.catalog-item:hover::before {
	opacity: 1;
}

.catalog-item:hover {
	box-shadow: 0px -15px 25px 2px rgba(0, 1, 1, 0.25);
}


.hover-catalog-item-info {
	position: absolute;
	bottom: 0;
	display: none;
	width: 360px;
	min-height: 230px;
	text-align: center;
	background-color: #eeeeee;
}

.catalog-item:hover .hover-catalog-item-info {
	display: block;
}

.catalog-item-title {
	margin: 0;
	margin-top: 27px;
	padding: 0;
}

.hover-catalog-item-info .btn {
	padding: 16px 60px;
	margin-bottom: 43px;
}

.catalog-item-text {
	width: 240px;
	margin: 0 auto;
	margin-top: 15px;
	margin-bottom: 30px;
}

.catalog-item:nth-child(1) .catalog-item-text,
.catalog-item:nth-child(3) .catalog-item-text,
.projects-item:nth-child(4) .catalog-item-text {
	width: 200px;
}

/* разметка - переключение страниц */

.pagination-list {
	display: flex;
	margin: 0;
	padding: 0;
	list-style: none;
	margin-top: 62px;
	margin-bottom: 60px;
}

.pagination-item-link {
	display: block;
	height: 18px;
	min-width: 10px;
	padding: 16px 20px;
	background-color: #eeeeee;
	border-radius: 3px;
}

.pagination-item {
	margin-right: 11px;
}

.pagination-item-current {
	height: 18px;
	min-width: 12px;
	padding: 13px 16px;
	background-color: #ffffff;
	border: 3px solid #dbdbdb;
	border-radius: 3px;
}

.pagination-item-link:not(.pagination-item-current):focus,
.pagination-item-link:not(.pagination-item-current):hover {
	background-color: #dfdfdf;
}

.pagination-item-link:not(.pagination-item-current):active {
	color: rgba(0, 0, 0, 0.3);
	background-color: #d5d5d5;
	box-shadow: inset 0 10px 2px -7px #bfbfbf;
	}

.pagination-item-next {
	padding: 16px 78px;
}

/* сетка - модальное окно */

.modal-contact {
	display: none;
	position: fixed;
	top: 37px;
	left: 50%;
	width: 760px;
	margin-left: -480px;
	padding: 67px 100px 83px 100px;
	background-color: #ffffff;
	box-shadow: 0 20px 40px rgba(0, 1, 1, 0.75); 
	z-index: 1000;
}

.modal-title {
	display: block;
	margin: 0;
	margin-bottom: 40px;
	text-transform: none;
}

.customer-information {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-bottom: 35px;
}

.login-form-label {
	display: block;
	margin-right: 40px; 
}

.login-name,
.login-email,
.login-mail {
	margin-top: 10px;
}

.login-form input[type="text"],
.login-form input[type="email"] {
	box-sizing: border-box;
	width: 360px;
	padding: 13px;	
	border-radius: 3px;
}

.login-mail {
	box-sizing: border-box;
	width: 760px;
	min-height: 116px;
	padding-top: 9px;
	padding-left: 15px;
	margin-bottom: 44px;
	resize: none;
	border-radius: 3px;
}


.modal-contact .btn {
	padding: 15px 84px;
	box-shadow: none;
	border: none;
}

.modal-close {
	position: absolute;
	right: 89px;
	top: 78px;
	width: 21px;
	height: 21px;
	background-color: transparent;
	background-image: url("../img/close-cross.svg");
	background-repeat: no-repeat;
	background-position: 0 0;
	opacity: 0.3;
	border: 0;
	cursor: pointer;
	font-size: 0;
}

.modal-close:hover {
	opacity: 1;
}

.modal-close:active {
	opacity: 0.1;
}

@keyframes bounce {
	0% {
		transform: translateY(-2000px);
		}

	70% {
		transform: translateY(30px);
		}

	90% {
		transform: translateY(-10px);
		}

	100% {
		transform: translateY(0);
		}
}

.modal-show {
	display: block;
	animation: bounce 0.6s;
}

@keyframes shake {
	0%,
	100% {
		transform: translateX(0);
		}

	10%,
	30%,
	50%,
	70%,
	90% {
		transform: translateX(-10px);
		}

	20%,
	40%,
	60%,
	80% {
		transform: translateX(10px);
		}
}

.modal-error {
	animation: shake 0.6s;
}

/* Iframe для map */

.map-iframe {
	display: block;
	position: relative;
	top: 0;
	left: 0;
	height: 456px;
	width: 100%; 
	z-index: 10;
}