body {
	min-width: 1200px;
	margin: 0;
	padding: 0;

	font-family: "Roboto", "Arial", sans-serif;
	font-size: 16px;
	line-height: 24px;
	font-weight: 400;
	color: #283136;
	text-transform: uppercase;

	background-color: #ffffff;
}

* {
	outline: 1px solid blue;
}

a {
	text-decoration: none;
}

img {
	max-width: 100%;
	height: auto;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
	position: absolute;

	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;

	white-space: nowrap;

	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}

.container {
	width: 1160px;
	margin: 0 auto;
	padding: 0 20px;
}

.container-gray {
	background-color: #eeeeee;
}


/* HEADER */
/* navigation */

.site-navigation-current {
	border-bottom: 2px solid #fb565a; /* сделала заготовочку, думаю, потом расскажут, как сделать короткой и аккуратной */
}

.main-navigation a, 
.user-account a {
	font-size: 16px;
	line-height: 30px;
	font-weight: 500;
	color: #000000;	
}

.main-navigation a:hover,
.main-navigation a:focus,
.user-account a:hover,
.user-account a:focus {
	color: #fb565a;
}

.main-navigation a:active,
.user-account a:active {
	color: rgba(0,0,0,0.3);
}


/* logo */
.main-header-logo:hover,
.main-header-logo:focus {
	opacity: 0.8;
}

.main-header-logo:active {
	opacity: 0.3;
}


/* SLIDER */

.intro-main-text {
	font-size: 55px;
	line-height: 55px;
	font-weight: 500;
	color: #000000;
	text-transform: none;
}

.slide-text p {
	text-transform: none;
	margin: 0;
	padding-top: 15px;
}


/* CATALOG */
.catalog-services-list {
	list-style: none;
}


.catalog-services-the-title { 
	font-size: 24px;
	line-height: 30px;
	font-weight: 700;
	color: #000000;
}

.catalog-services-list-item p {
	text-transform: none;
}


/* DESCRIPTION */
.description-lid {
	letter-spacing: 0.004em;
	font-size: 45px;
	line-height: 45px;
	font-weight: 500;
	color: #000000;	
	text-transform: none;
}

.description-text,
.description-item {
	text-transform: none;
}

.description-we-can-do {
	font-weight: 700;
	color: #000000;	
}

/* NUMBERS */
.numbers-title {
	font-weight: 700;
	color: #000000;
}

.numbers td {
	font-size: 45px;
	line-height: 10,06px;
	font-weight: 700;
	color: #000000;
	font-weight: 700;
}

.numbers th {
	font-weight: 400;
	text-transform: none;
	font-size: 16px;
	line-height: 18px;
	font-weight: 400;
}


/* PROJECT LINKS */
.project-links-item {
	list-style: none;
}

.projects-link {
	opacity: 0.2;
}

.projects-link:hover {
	opacity: 1;
}

.projects-link:active {
	opacity: 0.1;
}


/* MAP DESCRIPTION */
.map-title {
	font-size: 18px;
	line-height: 30px;
	font-weight: 700;
	color: #000000;
}

.map-address,
.map-phone {
	line-height: 18px;
	color: #666666;
	text-transform: none;
}


/* FOOTER */
.main-footer{
	text-transform: none;
}

.social-list {
	list-style: none;
}

.social-button {
	/*font-size: 0; */ /*Расскоментить, когда будут картинки*/
}

.main-footer-slogan {
	font-size: 36px;
	line-height: 36px;
	font-weight: 700;
	color: #000000;
}

.main-footer-text {
	line-height: 22px;
	color: #444444;
}


/* MODAL: WRITE US */
.modal-title {
	font-size: 45px;
	line-height: 45px;
	font-weight: 500;
	color: #000000;
}

.login-form label {
	line-height: 18px;
	font-weight: 700;
	color: #000000;
	text-transform: none;
}

.login-form input,
.login-form textarea {
	font: inherit;
	font-weight: 400;
	border: 2px solid #d7dcde;
	outline: none;
}

.login-form input:hover,
.login-form textarea:hover {
	border: 2px solid #b4b9bb;
}

.login-form input:focus,
.login-form textarea:focus {
	border: 2px solid #000000;
}

.login-form input:invalid,
.login-form textarea:invalid {
	border: 2px solid #e74246;
}

.login-form input::-webkit-input-placeholder,
.login-form textarea::-webkit-input-placeholder {
	line-height: 18px;
	color: rgba(68,68,68,0.5);
}

.login-form input:focus::-webkit-input-placeholder,
.login-form textarea:focus::-webkit-input-placeholder {
	color: #444444;
}

.modal-close {
	/*font-size: 0; */ /*Расскоментить, когда будут картинки*/
}


/* INNER PAGE: CATALOG */
.main-title-sect {
	background-color: #eeeeee;
}

.main-title {
	font-size: 55px; 
	line-height: 55px;
	font-weight: 500; 
	color: #000000;
}

/* filters */
.filter fieldset {
	border: none;
}

.filter ul {
	list-style: none;
	text-transform: none;
}

.filter legend {
	font-size: 18px;
	line-height: 30px;
	font-weight: 700;
	color: #000000;
}

.filter label {
	line-height: 20px;
}

.filter label:hover {
	color: #000000;
}

.filter label:disabled {
	color: rgba(40,49,54,0.3);
}

/* sort */
.sort h2 {
	font-size: 18px;
	line-height: 18px;
	font-weight: 700;
	color: #000000;
}

.sort-list {
	list-style: none;
}

.sort-item a{
	font-size: 14px;
	line-height: 18px;
	color: rgba(0,0,0,0.3);
}

.sort-item a:hover,
.sort-item a:focus {
	color: rgba(0,0,0,0.6);
}

.sort-item a:active,
.sort-current {
	color: #000000;
}


/* catalog list */
.catalog {
	background-color: #ffffff;
}

.hover-catalog-item-info {
	background-color: #eeeeee;
}

.catalog-list {
	list-style: none;
}

.catalog-item-title {
	font-size: 18px;
	line-height: 30px;
	font-weight: 700;
	color: #000000;
	text-align: center;
}

.catalog-item-text {
	line-height: 18px;
	color: #666666;
	text-align: center;
	text-transform: none;
}

/* pagination list */
.pagination-list {
	list-style: none;
}

.pagination-item a {
	line-height: 18px;
	font-weight: 500;	
	color: #000000;
	background-color: #eeeeee;
}

.pagination-item-current a {
	background-color: #ffffff;
	border: 3px solid #dbdbdb;
}

.pagination-item a:hover,
.pagination-item a:focus {
	background-color: #dfdfdf;
}

.pagination-item a:active {
	color: rgba(0,0,0,0.3);
	background-color: #d5d5d5;
}


/* BUTTONS */
.btn {
	display: inline-block;
	font: inherit;
	font-size: 16px;
	line-height: 18px;
	font-weight: 500;
	color: #ffffff;
	border-radius: 3px;
}

.filter-btn {
	color: #000000;
}

.btn-red {
	background-color: #fb565a;
}

.btn-red:hover {
	background-color: #e74246;
}

.btn-red:active {
	background-color: #d7373b;
	color: rgba(255,255,255,0.3);
}

.btn-green {
	background-color: #00ca74;
}

.btn-green:active {
	background-color: #00aa62;
	color: rgba(255,255,255,0.3);
}

.btn-green:hover {
	background-color: #00bc6c;
}

.btn-yellow {
	background-color: #efc84a;
}

.btn-yellow:hover {
	background-color: #eab534;
}

.btn-yellow:active {
	background-color: #e5a722;
	color: rgba(255,255,255,0.3);
}

.btn-grey {
	background-color: #eeeeee;
}

.btn-grey:hover {
	background-color: #dfdfdf;
}

.btn-grey:active {
	background-color: #d5d5d5;
	color: rgba(0,0,0,0.3);
}

/* --- Сеточные стили index.html--- */

/* сетка - шапка */

.main-header {
	padding-top: 50px;
}

.main-navigation {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: flex-start;
}

.main-logo {
	display: block;
	width: 160;
	height: 65;
}

.site-navigation,
.user-account {
	margin: 0;
	padding: 0;
	list-style: none;
}

.site-navigation {
	padding-left: 180px;
	display: flex;

	flex-wrap: wrap;
}

.site-navigation a {
	display: block;
	padding-top: 26px;
	padding-bottom: 15px;
	padding-left: 22px;
	padding-right: 22px;
}

.user-account {
	display: flex;
	flex-wrap: wrap;
	margin-left: auto;
	text-align: right;
	max-width: 150px;
	display-flex;
}

.user-account a {
	display: block;
	padding-top: 26px;
	padding-bottom: 15px;
	vertical-align: middle;
}

.cart-link {
	position: relative;
	padding-left: 50px;
}

.cart-link::before {
  content: "";
  
  position: absolute;
  top: 33px;
  left: 10px;
  
  
  width: 15px;
  height: 15px;
  
  background-image: url("../img/cart-icon.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}



/* сетка - интро */

.slider{
    position:relative;
    width:1160px;
    height:310px;
    margin:0 auto;
    padding-bottom: 115px;
}

.intro-main-text {
	padding-bottom: 10px;
}

.slider input[type=radio] {
    position:absolute;
    opacity:0;
}
.slider-controls{
	font-size:0;
    position:absolute;
    bottom:96px;
    left:50%;
    width:200px;
    height:18px;
    margin-left:-100px;
    text-align:center;
    z-index:1000;
}

.slider-controls label{
	display:inline-block;
	width:8px;
	height:8px;
	margin:0 9px;
	background:white;
	border:5px solid white;
	vertical-align:top;
	border-radius:50%;
	cursor:pointer;
	position: relative;
}


#btn-1:checked ~ .slider-controls label[for="btn-1"],
#btn-2:checked ~ .slider-controls label[for="btn-2"],
#btn-3:checked ~ .slider-controls label[for="btn-3"] { 
    background:#c1c1c1;
}


.slider-controls label:after {
    position: absolute;
    display: inline-block;
    width: 4px;
    height: 4px;
    border-radius:50%;
    content: ""; 
    top: 2px;
    left: 2px;
    background-color: white; 
}

.slide{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    overflow:hidden;
}
.slide-text{
    width:520px;
    padding:71px 0;
    color:#283136;
}

.slide .btn{
    display:block;
    width:240px;
    padding:16px 0;
    margin-top:40px;
    text-align:center;
    border-radius:3px;
}
.slide:nth-child(1){
    background-image:url('../img/intro-slide1.png');
    background-repeat:no-repeat;
    background-position:93% 11px;
}
.slide:nth-child(2){
    background-image:url('../img/intro-slide2.png');
    background-repeat:no-repeat;
    background-position:100% 10px;
}
.slide:nth-child(3){
    background-image:url('../img/intro-slide3.png');
    background-repeat:no-repeat;
    background-position:100% 0;
}
.slide{
    display:none;
}
#btn-1:checked ~ .slides .slide:nth-child(1) { 
    display: block;
}
#btn-2:checked ~ .slides .slide:nth-child(2) { 
    display: block; 
}
#btn-3:checked ~ .slides .slide:nth-child(3) { 
    display: block;
}


/* сервисы */

.catalog-services-list {
	width: 1100px; 
	margin: 0;
	padding: 0;
	margin-top: 80px;
	list-style: none;
	display: flex;
	justify-content: space-between;
	padding-bottom: 80px;

}


.catalog-services-list-item {
	width: 300px;
}

.serv-red {
	background-image: url("../img/catalog-image1.png");
	background-repeat: no-repeat;
	background-position: left top;
}
.serv-green {
	background-image: url("../img/catalog-image2.png");
	background-repeat: no-repeat;
	background-position: left top;
}
.serv-yellow {
	background-image: url("../img/catalog-image3.png");
	background-repeat: no-repeat;
	background-position: left top;
}

.catalog-services-the-title {
	margin: 0;
	margin-top: 170px;
	padding: 0;
}


.catalog-services-list-item p {
	max-width: 260px;
	margin-bottom: 33px;
}

.catalog-services-list-item .btn {
	padding: 16px 40px;
}

/* разметка - descr */

.descr {
	padding-top: 39px;
	display: flex;
	justify-content: space-between;
	border-top: 2px solid #eeeeee;
	padding-bottom: 74px;
	border-bottom: 2px solid #eeeeee;	
}

.description {
	padding-top: 35px;
	width: 700px;
}

.description-text {
	padding-top: 16px;
	padding-bottom: 22px;
	max-width: 660px;
}

.description-list {
	margin: 0;
	padding: 0;
	list-style: none;
	margin-top: 23px;
	padding-left: 37px;
}

.description-item {
	position: relative;
	margin-bottom: 24px;
}

.description-item:last-child {
	margin-bottom: 0;
}

.description-item::before {
	position: absolute;
	width: 25px;
	height: 2px;
	top: 11px;
	left: -36px;
	content: "";

    background-color: #fb565a;
}

.small-img-logo {
	display: block;
}

.numbers {
	width: 360px;
}

.numbers-title {
	margin: 0;
	margin-top: 36px;
	margin-left: 17px;

}

.numbers table {
	width: 100%;
	margin-top: 49px;
}

.numbers td,
.numbers th {
	width: 33.3%;
	padding: 0;

	text-align: left;

}

.numbers th {
	padding-top: 27px;
}


sup {
  font-size: 28px;
  font-weight: 800;
  line-height: 10px;
}


/* разметка - projects */

.project-links-list {
	margin: 0;
	padding: 0;
	list-style: none;
	display: flex;
	justify-content: space-between;
}

.projects-link {
	display: flex;
	align-items: center;
	padding: 0 25px; /* разобраться с центрированием */
}

.main-footer {
	display: flex;
}

.social-list {
	margin: 0;
	padding: 0;
	list-style: none;
	width: 360px;
}

.footer-promo {
	width: 800px;
}


/* --- Сеточные стили catalog.html--- */
.main-title-sect {
	text-align: center;
}

.catalog-columns {
	display: flex;
	justify-content: space-between;
}

.filters {
	width: 300px;
}

.catalog {
	width: 760px;
}

.catalog-list {
	margin: 0;
	padding: 0;
	margin-bottom: 30px;
	list-style: none;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.catalog-item {
	width: 360px;
}

